<div style="text-align: center;">
  <h1>Welcome to the buggyapp!!!!!!</h1>

  <%= image_tag "i_am_batman.png", alt: "I Am Batman", width: "400" %>

  <p>Find me in app/views/welcome/index.html.erb</p>
</div> 


